.env
.mio-history/
node_modules/
__pycache__/
*.pyc
/.vs
/docs/adr
/src/Collector/bin/Debug/net48
/src/Collector/obj
/src/Core/bin/Debug/net48
/src/Dashboard/bin/Debug/net48
/src/Dashboard/obj
/src/Data/bin/Debug/net48
/src/Data/obj/Debug
/src/Data/obj/Release
/src/Modbus/bin/Debug/net48
/src/Modbus/obj/Debug
/src/Modbus/obj/Release
/src/Modbus/obj
/src/Server/bin/Debug/net48
/src/Server/obj
/src/Data/obj
/src/Core/obj
*.user
/src/Simulator/bin/Debug/net48
/src/Simulator/obj/Debug/net10.0
/src/Simulator/obj/Debug/net48
/src/Simulator/obj/Release
/src/Simulator/obj
/test/IntegrationTests/obj
/test/IntegrationTests/bin/Debug/net48
/test/IntegrationTests/bin/Release/net48
/test/UnitTests/obj
/test/UnitTests/bin
